# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# Next.js
frontend/.next/
frontend/out/

# Environment variables
.env
.env.local
frontend/.env
frontend/.env.local

# Build files
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# SQLite database
backend/*.db